workflows/manual_git_commit.json
{
  "updatedAt": "2025-11-23T14:03:29.296Z",
  "createdAt": "2025-11-23T12:09:36.505Z",
  "id": "mOWBihzZ4K6lwCKp",
  "name": "Manual Git Commit",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "903d8891-73ae-4257-aec8-10d699f2ade0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJlM2M1ZmYyMy04MzJlLTRhN2YtODk5Zi0wZjViZTNlYjM5YmIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzOTAwMDY4LCJleHAiOjE3NjY0NjYwMDB9.HeWaDRMQDHr9R90RgoWZFIkFzeQ0_SUla9qutOaol7o"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "7234a36d-2bda-42b8-8080-3014782ed068",
      "name": "retrieve workflows"
    },
    {
      "parameters": {
        "url": "=http://localhost:5678/api/v1/workflows/uk5GqJhNlJEHJyGe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJlM2M1ZmYyMy04MzJlLTRhN2YtODk5Zi0wZjViZTNlYjM5YmIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzOTAwMDY4LCJleHAiOjE3NjY0NjYwMDB9.HeWaDRMQDHr9R90RgoWZFIkFzeQ0_SUla9qutOaol7o"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "179961cc-1818-41b5-85f6-12e359f918c4",
      "name": "get workflow json"
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\nconst backupWorkflowName = \"Manual Git Commit\"; // Match the name of your backup workflow\n\nfor (const item of items) {\n  // item.json now contains the FULL workflow JSON from the HTTP Request (Step 3)\n  const fullWorkflowJson = item.json;\n  \n  // 1. Check and skip the backup workflow itself\n  if (fullWorkflowJson.name === backupWorkflowName) {\n    continue;\n  }\n  \n  // 2. Create a clean, safe filename from the workflow name\n  const workflowName = fullWorkflowJson.name.replace(/[^a-z0-9]/gi, '_').toLowerCase();\n  \n  // 3. Convert the workflow JSON object into a string\n  const workflowJsonString = JSON.stringify(fullWorkflowJson, null, 2);\n  \n  // 4. Base64 encode the string (REQUIRED by GitHub API)\n  const base64Content = Buffer.from(workflowJsonString).toString('base64');\n  \n  // 5. Output a new item with the data ready for the GitHub node\n  newItems.push({\n      json: {\n          workflowId: fullWorkflowJson.id,\n          fileName: `${workflowName}.json`,\n          fileContent: base64Content,\n          commitMessage: `Manual commit: ${fullWorkflowJson.name} | ${new Date().toLocaleDateString()}`\n      }\n  });\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "b2d41b79-541e-4e42-8a7c-4d5f2fd68a3c",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Linh-Vo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "n8n-testing"
        },
        "filePath": "=workflows/{{$json[\"fileName\"]}}",
        "fileContent": "={{$json[\"fileContent\"]}}",
        "commitMessage": "={{$json[\"commitMessage\"]}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        832,
        0
      ],
      "id": "cd561a1b-c2a1-479b-a7d7-f5b037c7be8b",
      "name": "Edit a file",
      "webhookId": "ea8e547c-9bcf-4b74-bac4-6e1e157a5fd9",
      "credentials": {
        "githubApi": {
          "id": "n1ErJnoojO8CIPmX",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "retrieve workflows": {
      "main": [
        [
          {
            "node": "get workflow json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get workflow json": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a9c0f913-bf26-4065-abb4-9776a9476fd5",
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-23T12:09:36.505Z",
      "createdAt": "2025-11-23T12:09:36.505Z",
      "role": "workflow:owner",
      "workflowId": "mOWBihzZ4K6lwCKp",
      "projectId": "UO0oAsN8XQaaXC4j",
      "project": {
        "updatedAt": "2025-11-23T11:58:13.496Z",
        "createdAt": "2025-11-23T11:57:41.526Z",
        "id": "UO0oAsN8XQaaXC4j",
        "name": "linh vo <linhvo.qn94@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-23T11:57:41.526Z",
            "createdAt": "2025-11-23T11:57:41.526Z",
            "userId": "e3c5ff23-832e-4a7f-899f-0f5be3eb39bb",
            "projectId": "UO0oAsN8XQaaXC4j",
            "user": {
              "updatedAt": "2025-11-23T12:00:56.722Z",
              "createdAt": "2025-11-23T11:57:38.189Z",
              "id": "e3c5ff23-832e-4a7f-899f-0f5be3eb39bb",
              "email": "linhvo.qn94@gmail.com",
              "firstName": "linh",
              "lastName": "vo",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-23T11:58:22.742Z",
                "personalization_survey_n8n_version": "1.120.4",
                "companyType": "personal",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-23",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}